<h1>Add:</h1>

<form method="post">
  <fieldset>
    <label>Name<input type="text" name="name" value=""></label>
    <label>Description<input type="text" name="description" value=""></label>
    <label>Date<input type="text" name="date" value=""></label>
  </fieldset>
  <input type="submit" value="Submit">
</form>
