<head>
  <link rel="stylesheet" type="text/css" href="/styling.css">
</head>
<body>
<h1>Lists of Tasks</h1>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
  </tr>
  <% @tasks.each do |task|%>
  <tr>
    <td><%= task[0] %></td>
    <td><%= task[1] %></td>
    <td><%= task[2] %></td>
    <td><%= task[3] %></td>
  </tr>
  <% end %>

</table>
<p><a href="/add">ADD NEW TASK</a></p>
</body>
